@{
    ViewBag.Title = "Maintenance Mode";
    ViewBag.IsMaintenanceMode = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="maintenance-mode">Routine maintenance. Nothing to worry about.</h1>

<script>
    //(function() {
    //    setTimeout(function() {
    //        location.pathname = "/";
    //    }, 3000);
    //})();
</script>