@{
    ViewBag.Title = "Maintenance Mode";
    ViewBag.IsMaintenanceMode = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Routine maintenance.</h1>
<p>Nothing to worry about though! You'll be redirected once the maintenance is completed.</p>
<p>In the meantime you can watch our cool animation!</p>

<h2 class="maintenance-mode">Our cool animation!!</h2>
<script>
    //(function() {
    //    setTimeout(function() {
    //        location.pathname = "/";
    //    }, 3000);
    //})();
</script>